<!DOCTYPE html>
<html lang="{{ settings.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ site_title }}</title>
        <link rel="stylesheet" href="{{themepath}}/css/normalize.css">
        <link rel="stylesheet" href="{{themepath}}/css/style.css">
    </head>
    <body>
        <header>
            <h1>{{ site_title }}</h1>
            {% include "components/nav.twig" %}
        </header>
        <main>
            {% if posts is not empty %}                
                {% for post in posts %}
                    <div class="blogpost">
                        <h2><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h2>
                        <article>
                            {% if post.excerpt %}
                                <p class="excerpt">{{ post.excerpt|raw }}</p>
                            {% else %}
                                <p class="excerpt">{{ post.content|striptags|slice(0, 150) ~ '...' }}</p>
                            {% endif %}
                        </article>
                    </div>
                {% endfor %}
            {% else %}
                <p>No Blogposts found.</p>
            {% endif %}
        </main>
    </body>
</html>