<!DOCTYPE html>
<html lang="{{ settings.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - {{ site_title }}</title>
        <link rel="stylesheet" href="{{ themepath }}/css/normalize.css">
        <link rel="stylesheet" href="{{ themepath }}/css/style.css">
    </head>
    <body>
        <header>
            <h1>{{ site_title }}</h1>
            {% include "components/nav.twig" %}
        </header>
        <main>
            {% if cover %}
                <div class="album-cover">
                    <img src="{{ collection.cover }}" alt="Cover image for {{ collection.title }}">
                </div>
            {% endif %}
            <h1>{{ title }}</h1>
            <div class="description">
                {{ collection.description|raw }}
            </div>

            {% if albums %}
                <h2>Included Albums</h2>
                <ul class="album-list">
                    {% for album in albums %}
                        <li class="album-entry">
                            <a href="{{ album.url }}">
                                {% if album.cover %}
                                    <img src="{{ album.cover }}" alt="{{ album.title }}" />
                                {% endif %}
                                <h2>{{ album.title }}</h2>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </main>
    </body>
</html>
